<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="nueva-operacion-mensual-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        position: relative;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: gray;
        padding: 20px;
        display: inline-block;
        width: 95%;
      }

      .row {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .title{
        text-align: center;
      }

      .col-1{
        position: relative;
        display: inline-block;
        width: 30%;
        text-align: left;
        margin-left: 20px;
        margin-top: 10px;
      }

      .div-label {
        display:inline-block;
        width:100%;
        margin-left: 100px;
        margin-bottom: 5px; 
        text-align: justify;
      }

      .div-text {
        display:inline-block; 
        width:100%;
        margin-left: 100px; 
      }

      .txt-box-small{
        width: 70%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      table{
        width: 100%; 
        margin-top: 10px; 
        border-collapse: collapse; 
        border: 1px solid #444;
      } 

      th {
        background-color: #08948e;
        color: #f1f1f1;
        padding: 15px;
      }

      td, th{
        border: 1px solid rgba(228, 228, 228, 0.904);
      }

      td{
        padding: 10px;
      }
    </style>
    <!--Start My Component-->
    <div class="container">

      <h1 class="title">Nueva Operación Mensual</h1>
      <hr>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for=""><strong>ID:</strong></label>
            <label for="">1</label>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for=""><strong>Tipo de Servicio:</strong></label>
            <label for="">STAFFING</label>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for=""><strong>Itercompañia:</strong></label>
            <label for="">COMPAÑIA</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for=""><strong>Nombre:</strong></label>
            <label for="">Luis Miguel Garcia</label>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for=""><strong>Unidad de Negocio:</strong></label>
            <label for="">UNE 1</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for=""><strong>Cliente de Facturación:</strong></label>
            <label for="">INDRA SA DE CV</label>
          </div>
        </div>

        <div class="col-1">
          <div class="div div-label">
            <label for=""><strong>Cuenta:</strong></label>
            <label for="">SANTANDER</label>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for=""><strong>Horas Laborales:</strong></label>
            <label for="">800</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Año de Servicio:</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Mes de Servicio:</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value="">ENERO</option>
              <option value="">FEBRERO</option>
              <option value="">MARZO</option>
              <option value="">ABRIL</option>
              <option value="">MAYO</option>
              <option value="">JUNIO</option>
              <option value="">JULIO</option>
              <option value="">AGOSTO</option>
              <option value="">SEPTIEMBRE</option>
              <option value="">OCTUBRE</option>
              <option value="">NOVIEMBRE</option>
              <option value="">DICIEMBRE</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Fecha Asignación:</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Forma de Facturación:</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Reemplazo:</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
        </div>
  
        <div class="col-1">
          <div class="div-label">
            <label for="">Backlog/Presupuesto:</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Aceptación/Recepción:</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <table>
          <thead>
            <tr>
              <th>Tarifa HR</th>
              <th>Horas Estimadas</th>
              <th>Ingreso Presupuestado</th>
              <th>Costo de Ventas Estimado</th>
              <th>Utilidad Bruta Estimado</th>
              <th>porcentaje Estimado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
  
            <tr style="background: lightgray;">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
  
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!--End My Component-->
  </template>

  <script>
    /**
     * `nueva-operacion-mensual-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class NuevaOperacionMensualComponent extends Polymer.Element {
      static get is() { return 'nueva-operacion-mensual-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'nueva-operacion-mensual-component'
          }
        };
      }
    }

    window.customElements.define(NuevaOperacionMensualComponent.is, NuevaOperacionMensualComponent);
  </script>
</dom-module>
